main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  font-size: large;
  padding: 1rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.copyright {
  margin-bottom: 0.5rem;
}

.footer-logo {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--secondary-color);
}
.footer-email {
  font-weight: 600;
  text-decoration: underline;
  color: var(--secondary-color);
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}
